* {
  box-sizing: border-box;
}
@font-face {
    font-family: ps09105;
    src: url(../font/KodinahDiary.ttf);
    font-weight: bold;
  }
body {
  background-color: black;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header nav {
  position: relative;
  z-index: 99;
  width: 100%;
  margin: 5px;
}
header nav .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 50px;
  color: #fff;
  font-size: 2em;
  border: 3px solid #fff;
  width: 10%;
  text-align: center;
  transition: 1s;
}
header nav .menu {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 50px;
}
header nav .menu ul li{
   float: left;
   padding: 10px;
   list-style: none;
}
header nav .menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-family: ps09105;
    transition: 1s;
}
header nav .menu ul li a:hover{
    color: orangered;
}
header nav .menu ul li a i{
    padding-right: 5px;
}
header::before{
    content: "KINGS OF THE ROAD";
    position: absolute;
    z-index: 99;
    bottom: 50%;
    left: 45%;
    width: 12%;
    color: #fff;
    font-size: 1.7em;
    text-align: center;
    line-height: 0.72;
    letter-spacing: 10px;
    font-weight: bold;
    transition: 2s;
}